@model SettingsModel
@{
    Layout = "_CardLayout";
    ViewData["Title"] = CustomTranslator.Get("deleteAccount.title");
}

<h1 class="title has-text-centered">@CustomTranslator.Get("deleteAccount.title")</h1>
<div class="mb-2">
    <div class="message is-danger p-3">
        @CustomTranslator.Get("deleteAccount.warning")
    </div>
</div>
<hr/>

<form class="mb-3" action="/settings/delete-account?flow=@Model.flow.Id&return_to=@Model.flow.ReturnTo" method="post">
    @Html.AntiForgeryToken()
    <div class="field">
        <p class="subtitle">@CustomTranslator.Get("deleteAccount.text")</p>
    </div>

    <div class="field">
        <div class="columns is-mobile is-multiline">
            <div class="column is-half">
                <a class="button is-dark is-fullwidth"
                   href="/settings?flow=@Model.flow.Id&return_to=@Model.flow.ReturnTo">
                    @CustomTranslator.Get("deleteAccount.cancel")
                </a>
            </div>
            <div class="column is-half">
                <button type="submit" class="button is-danger is-fullwidth">
                    @CustomTranslator.Get("deleteAccount.confirm")
                </button>
            </div>
        </div>
    </div>
</form>