@if (MaxPageNr > 1)
{
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a href="@Url?page=@(PageNr - 1)"
           class="pagination-previous @(PageNr < 2 ? "is-disabled" : "")">
            Previous
        </a>
        <a href="@Url?page=@(PageNr + 1)"
           class="pagination-next @(PageNr >= MaxPageNr ? "is-disabled" : "")">
            Next Page
        </a>
        <ul class="pagination-list">
            <PaginationLink IsActive="@(PageNr == 1)" PageNr="1" Url="@Url"/>
            <PaginationEllipsis IsHidden="@(PageNr < 5)"/>
            @for (var i = int.Max(2, PageNr - 2); i < int.Min(MaxPageNr, PageNr + 3); i++)
            {
                <PaginationLink IsActive="@(i == PageNr)" PageNr="i" Url="@Url"/>
            }
            <PaginationEllipsis IsHidden="@(PageNr > MaxPageNr - 4)"/>
            <PaginationLink IsActive="@(PageNr == MaxPageNr)" PageNr="@MaxPageNr" Url="@Url"/>
        </ul>
    </nav>
}

@code
{
    [Parameter]
    public required int PageNr { get; set; }

    [Parameter]
    public required int MaxPageNr { get; set; }

    [Parameter]
    public required string Url { get; set; }
}