@using Newtonsoft.Json.Linq
@model KratosFlowError
@{
    ViewData["Title"] = OryTranslator.Get("error.title");
    Layout = "_CardLayout";
    var error = (JObject)Model.Error;
}

<h1 class="title">@OryTranslator.Get("error.title")</h1>
<h2 class="subtitle">@error["code"] @error["status"]</h2>
<div class="message is-warning p-2">
    @error["message"]
</div>
<hr/>
<p>@error["reason"]</p>
<a class="button is-dark mt-5 is-fullwidth" href="/">
    @OryTranslator.Get("error.back-button")
</a>