@page "/oauth2/clients/{ClientId}/editLifespans"
@rendermode InteractiveServer
@inject NavigationManager nav

<PageTitle>Edit Client Lifespans | OryAdmin</PageTitle>

<h1 class="title">Edit Client Lifespans</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    <form @onsubmit="SubmitForm">
        <div class="box p-5">
            <div class="message is-info p-2">
                <p>Format the durations as "1h0m0s" or similar.</p>
                <p>Leave a field empty to use the configured hydra default lifespan.</p>
            </div>
        </div>
        <div class="box p-5 @(string.IsNullOrWhiteSpace(_errorMessage) ? "is-hidden" : "")">
            <div class="message is-warning p-2">
                @_errorMessage
            </div>
        </div>

        <div class="columns is-multiline box p-5">

            <div class="column is-half">
                <h2 class="subtitle">Refresh Token Grant</h2>
                <div class="field">
                    <label class="label">
                        Access token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.RefreshTokenGrantAccessTokenLifespan"
                                   @onchange="args => _lifespans.RefreshTokenGrantAccessTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label">
                        ID token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.RefreshTokenGrantIdTokenLifespan"
                                   @onchange="args => _lifespans.RefreshTokenGrantIdTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label">
                        Refresh token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.RefreshTokenGrantRefreshTokenLifespan"
                                   @onchange="args => _lifespans.RefreshTokenGrantRefreshTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
            </div>

            <div class="column is-half">
                <h2 class="subtitle">Authorization Code Grant</h2>
                <div class="field">
                    <label class="label">
                        Access token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.AuthorizationCodeGrantAccessTokenLifespan"
                                   @onchange="args => _lifespans.AuthorizationCodeGrantAccessTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label">
                        ID token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.AuthorizationCodeGrantIdTokenLifespan"
                                   @onchange="args => _lifespans.AuthorizationCodeGrantIdTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label">
                        Refresh token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.AuthorizationCodeGrantRefreshTokenLifespan"
                                   @onchange="args => _lifespans.AuthorizationCodeGrantRefreshTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
            </div>

            <div class="column is-half">
                <h2 class="subtitle">Client Credentials Grant</h2>
                <div class="field">
                    <label class="label">
                        Access token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.ClientCredentialsGrantAccessTokenLifespan"
                                   @onchange="args => _lifespans.ClientCredentialsGrantAccessTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
            </div>

            <div class="column is-half">
                <h2 class="subtitle">JWT Bearer Grant</h2>
                <div class="field">
                    <label class="label">
                        Access token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.JwtBearerGrantAccessTokenLifespan"
                                   @onchange="args => _lifespans.JwtBearerGrantAccessTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
            </div>

            <div class="column is-half">
                <h2 class="subtitle">Implicit Grant</h2>
                <div class="field">
                    <label class="label">
                        Access token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.ImplicitGrantAccessTokenLifespan"
                                   @onchange="args => _lifespans.ImplicitGrantAccessTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
                <div class="field">
                    <label class="label">
                        ID token
                        <div class="control">
                            <input type="text" class="input"
                                   placeholder="hydra default value"
                                   value="@_lifespans.ImplicitGrantIdTokenLifespan"
                                   @onchange="args => _lifespans.ImplicitGrantIdTokenLifespan = args.Value is string value && string.IsNullOrWhiteSpace(value) ? null : args.Value?.ToString()"/>
                        </div>
                    </label>
                </div>
            </div>

            <div class="column is-half">
            </div>

            <div class="mt-5">
                <div class="buttons">
                    <a class="button" href="oauth2/clients/@ClientId">
                        Cancel
                    </a>
                    <button type="submit" class="button is-success">
                        Save
                    </button>
                </div>
            </div>

        </div>
    </form>
}