@page "/oauth2/clients/{ClientId}"
@rendermode InteractiveServer
@inject NavigationManager nav

<PageTitle>View OAuth 2 Client | OryAdmin</PageTitle>

<h1 class="title">View OAuth 2 Client</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    <div class="box mt-3">
        <h1 class="title">General</h1>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>ID</td>
                <td>@(_client!.ClientId)</td>
            </tr>
            <tr>
                <td>Client name</td>
                <td>@(string.IsNullOrWhiteSpace(_client.ClientName) ? "-" : _client.ClientName)</td>
            </tr>
            <tr>
                <td>Client secret</td>
                <td>
                    @if (string.IsNullOrWhiteSpace(_client.ClientSecret))
                    {
                        <p>******</p>
                    }
                    else
                    {
                        <p>@(_client.ClientSecret)</p>
                    }
                </td>
            </tr>
            <tr>
                <td>Client secret expires at</td>
                <td>@(_client.ClientSecretExpiresAt == 0 ? "never" : _client.ClientSecretExpiresAt)</td>
            </tr>
            <tr>
                <td>Client authentication mechanism</td>
                <td>@_client.TokenEndpointAuthMethod</td>
            </tr>
            <tr>
                <td>Scope</td>
                <td>@(string.IsNullOrWhiteSpace(_client.Scope) ? "-" : _client.Scope.Replace(" ", ", "))</td>
            </tr>
            <tr>
                <td>Redirect URIs</td>
                <StringListTd List="@_client.RedirectUris"/>
            </tr>
            <tr>
                <td>Post logout redirect URIs</td>
                <StringListTd List="@_client.PostLogoutRedirectUris"/>
            </tr>
            <tr>
                <td>Updated at</td>
                <td>@_client.UpdatedAt</td>
            </tr>
            <tr>
                <td>Created at</td>
                <td>@_client.CreatedAt</td>
            </tr>
            </tbody>
        </table>

        <div class="buttons">
            <a class="button is-dark" href="oauth2/clients">
                Back
            </a>
            <a class="button is-info" href="oauth2/clients/@(_client!.ClientId)/edit">
                Edit Client
            </a>
            <button class="js-modal-trigger button is-warning" data-target="new-client-secret-modal"
                    type="button" @onclick="() => _confirmNewSecretModal = true">
                Reset Client Secret
            </button>
            <button class="js-modal-trigger button is-danger" data-target="delete-client-modal"
                    type="button" @onclick="ShowDeleteModal">
                Delete Client
            </button>
        </div>
        <div id="delete-client-modal" class="modal @(_confirmDeleteClientModal ? "is-active" : "")">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm Deletion</p>
                    <button class="delete" aria-label="close" @onclick="HideDeleteModal"></button>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure to delete this client?</p>
                    <p>Be aware that this cannot be undone.</p>
                </section>
                <footer class="modal-card-foot buttons">
                    <button class="button" data-target="delete-client-modal"
                            type="button" @onclick="HideDeleteModal">
                        Cancel
                    </button>
                    <div class="button is-danger" @onclick="DeleteClient">
                        Delete
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <div id="delete-client-modal" class="modal @(_confirmNewSecretModal ? "is-active" : "")">
        <div class="modal-background"></div>
        <div class="modal-card">
            <form @onsubmit="CreateNewClientSecret">
                <header class="modal-card-head">
                    <p class="modal-card-title">Reset client secret</p>
                    <button class="delete" aria-label="close" @onclick="() => _confirmNewSecretModal = true"></button>
                </header>
                <section class="modal-card-body">
                    <label class="label">
                        New client secret
                        <input @onchange="args => _newClientSecret = args.Value?.ToString()" minlength="6"
                               class="input" type="text"/>
                    </label>
                    <p>This will delete the old client secret and replace it with new new one.</p>
                </section>
                <footer class="modal-card-foot buttons">
                    <button class="button" data-target="delete-client-modal"
                            type="button" @onclick="() => _confirmNewSecretModal = false">
                        Cancel
                    </button>
                    <button class="button is-danger" type="submit">
                        Accept
                    </button>
                </footer>
            </form>
        </div>
    </div>
    <div id="delete-client-modal" class="modal @(_showNewSecretModal ? "is-active" : "")">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">New Client Secret generated</p>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">
                        New Client Secret:
                        <div class="control">
                            <input type="text" class="input" readonly value="@_client?.ClientSecret"/>
                        </div>
                    </label>
                </div>
                <div class="message is-warning p-2 mt-3">
                    Please store your Client Secret because it can only be viewed once.
                </div>
            </section>
            <footer class="modal-card-foot buttons">
                <div class="button is-info" @onclick="() => _showNewSecretModal = false">
                    Done
                </div>
            </footer>
        </div>
    </div>

    <div class="box">
        <h1 class="title">Consent screen</h1>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>Skip consent screen</td>
                <td>@(_client!.SkipConsent ? "Yes" : "No")</td>
            </tr>
            <tr>
                <td>Owner</td>
                <td>@(string.IsNullOrWhiteSpace(_client.Owner) ? "-" : _client.Owner)</td>
            </tr>
            <tr>
                <td>URI</td>
                <LinkTd Uri="@_client.ClientUri"/>
            </tr>
            <tr>
                <td>Logo URI</td>
                <LinkTd Uri="@_client.LogoUri"/>
            </tr>
            <tr>
                <td>Policy URI</td>
                <LinkTd Uri="@_client.PolicyUri"/>
            </tr>
            <tr>
                <td>TOS URI</td>
                <LinkTd Uri="@_client.TosUri"/>
            </tr>
            <tr>
                <td>Contacts</td>
                <StringListTd List="@_client.Contacts"/>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="box">
        <h1 class="title">Supported OAuth2 flows</h1>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>Grant Types</td>
                <StringListTd List="@_client.GrantTypes"/>
            </tr>
            <tr>
                <td>Response types</td>
                <StringListTd List="@_client.ResponseTypes"/>
            </tr>
            <tr>
                <td>Access token type</td>
                <td>@_client.AccessTokenStrategy.ToStringOrDash()</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="box">
        <h1 class="title">OpenID Connect Logout</h1>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>Frontchannel logout session required</td>
                <td>@(_client.FrontchannelLogoutSessionRequired ? "Yes" : "No")</td>
            </tr>
            <tr>
                <td>Backchannel logout session required</td>
                <td>@(_client.BackchannelLogoutSessionRequired ? "Yes" : "No")</td>
            </tr>
            <tr>
                <td>Frontchannel logout URI</td>
                <td>@_client.FrontchannelLogoutUri.ToStringOrDash()</td>
            </tr>
            <tr>
                <td>Backchannel logout URI</td>
                <td>@_client.BackchannelLogoutUri.ToStringOrDash()</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="box">
        <h1 class="title">Lifespans</h1>
        <div class="columns is-multiline">
            <div class="column is-half">
                <table class="table is-fullwidth is-narrow">
                    <thead>
                    <th colspan="2">Refresh token grant</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Access token</td>
                        @if (string.IsNullOrWhiteSpace(_client.RefreshTokenGrantAccessTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.RefreshTokenGrantAccessTokenLifespan</td>
                        }
                    </tr>
                    <tr>
                        <td>ID token</td>
                        @if (string.IsNullOrWhiteSpace(_client.RefreshTokenGrantIdTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.RefreshTokenGrantIdTokenLifespan</td>
                        }
                    </tr>
                    <tr>
                        <td>Refresh token</td>
                        @if (string.IsNullOrWhiteSpace(_client.RefreshTokenGrantRefreshTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.RefreshTokenGrantRefreshTokenLifespan</td>
                        }
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-half">
                <table class="table is-fullwidth is-narrow">
                    <thead>
                    <th colspan="2">Authorization code grant</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Access token</td>
                        @if (string.IsNullOrWhiteSpace(_client.AuthorizationCodeGrantAccessTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.AuthorizationCodeGrantAccessTokenLifespan</td>
                        }
                    </tr>
                    <tr>
                        <td>ID token</td>
                        @if (string.IsNullOrWhiteSpace(_client.AuthorizationCodeGrantIdTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.AuthorizationCodeGrantIdTokenLifespan</td>
                        }
                    </tr>
                    <tr>
                        <td>Refresh token</td>
                        @if (string.IsNullOrWhiteSpace(_client.AuthorizationCodeGrantRefreshTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.AuthorizationCodeGrantRefreshTokenLifespan</td>
                        }
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-half">
                <table class="table is-fullwidth is-narrow">
                    <thead>
                    <th colspan="2">Client credentials grant</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Access token</td>
                        @if (string.IsNullOrWhiteSpace(_client.ClientCredentialsGrantAccessTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.ClientCredentialsGrantAccessTokenLifespan</td>
                        }
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-half">
                <table class="table is-fullwidth is-narrow">
                    <thead>
                    <th colspan="2">JWT bearer grant</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Access Token</td>
                        @if (string.IsNullOrWhiteSpace(_client.JwtBearerGrantAccessTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.JwtBearerGrantAccessTokenLifespan</td>
                        }
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="column is-half">
                <table class="table is-fullwidth is-narrow">
                    <thead>
                    <th colspan="2">Implicit grant</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Access Token</td>
                        @if (string.IsNullOrWhiteSpace(_client.ImplicitGrantAccessTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.ImplicitGrantAccessTokenLifespan</td>
                        }
                    </tr>
                    <tr>
                        <td>ID Token</td>
                        @if (string.IsNullOrWhiteSpace(_client.ImplicitGrantIdTokenLifespan))
                        {
                            <td>
                                <p class="is-italic is-color-grey">hydra default value</p>
                            </td>
                        }
                        else
                        {
                            <td>@_client.ImplicitGrantIdTokenLifespan</td>
                        }
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="buttons">
            <a class="button is-info" href="oauth2/clients/@(_client!.ClientId)/editLifespans">
                Edit Token Lifespans
            </a>
        </div>
    </div>

    <div class="box">
        <h1 class="title">Other</h1>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>Audience</td>
                <StringListTd List="@_client.Audience"/>
            </tr>
            <tr>
                <td>JWKS URI</td>
                <LinkTd Uri="@_client.ClientUri"/>
            </tr>
            <tr>
                <td>Request URIs</td>
                <StringListTd List="@_client.RequestUris"/>
            </tr>
            <tr>
                <td>JWKS</td>
                <td>@_client.Jwks</td>
            </tr>
            <tr>
                <td>Metadata</td>
                <td>@(_client.Metadata ?? "-")</td>
            </tr>
            <tr>
                <td>Subject type</td>
                <td>@_client.SubjectType.ToStringOrDash()</td>
            </tr>
            <tr>
                <td>Allowed CORS origins</td>
                <StringListTd List="@_client.AllowedCorsOrigins"/>
            </tr>
            <tr>
                <td>Registration access token</td>
                <td>@_client.RegistrationAccessToken.ToStringOrDash()</td>
            </tr>
            <tr>
                <td>Registration client URI</td>
                <td>@_client.RegistrationClientUri.ToStringOrDash()</td>
            </tr>
            <tr>
                <td>Sector identifier URI</td>
                <td>@_client.SectorIdentifierUri.ToStringOrDash()</td>
            </tr>
            <tr>
                <td>Request object signing algorithm</td>
                <td>@_client.RequestObjectSigningAlg.ToStringOrDash()</td>
            </tr>
            <tr>
                <td>Userinfo signed response algorithm</td>
                <td>@_client.UserinfoSignedResponseAlg.ToStringOrDash()</td>
            </tr>
            <tr>
                <td>Token endpoint auth signing algorithm</td>
                <td>@_client.TokenEndpointAuthSigningAlg.ToStringOrDash()</td>
            </tr>
            </tbody>
        </table>
    </div>
}