@page "/identities/messages"
@rendermode InteractiveServer

<PageTitle>Message Log | OryAdmin</PageTitle>

<h1 class="title">Message Log</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    if (_messages!.Count == 0)
    {
        <p>There are no sent messages like emails yet.</p>
    }
    else
    {
        <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
                <td>Subject</td>
                <td>Type</td>
                <td>Recipient</td>
                <td>Status</td>
                <td>Date</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var message in _messages)
            {
                <tr>
                    <td>
                        <a class="btn-link" href="identities/messages/@(message.Id)">
                            @message.Subject
                        </a>
                    </td>
                    <td>@message.Type.ToString()</td>
                    <td>@message.Recipient</td>
                    <td>@message.Status.ToString()</td>
                    <td>@message.CreatedAt</td>
                </tr>
            }
            </tbody>
        </table>
        <Pagination Url="identities/messages" 
                    PageSize="@PageSize"
                    PaginationTokens="@PaginationTokens"
                    PageToken="@PageToken"/>
    }
}