@page "/identities/messages/{MessageId}"
@using Ory.Kratos.Client.Model
@rendermode InteractiveServer

<PageTitle>View Message | OryAdmin</PageTitle>

<h1 class="title">View Message</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    <div class="box mt-3">
        <h3 class="title">General</h3>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>ID</td>
                <td>@_message!.Id</td>
            </tr>
            <tr>
                <td>Recipient</td>
                <td>@_message.Recipient</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>@_message.Type.ToString()</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@_message.Status.ToString()</td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>@_message.Subject</td>
            </tr>
            <tr>
                <td>Send Count</td>
                <td>@_message.SendCount</td>
            </tr>
            <tr>
                <td>Updated At</td>
                <td>@_message.UpdatedAt</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>@_message.CreatedAt</td>
            </tr>
            </tbody>
        </table>
        <div class="buttons">
            <a class="button is-dark" href="identities/messages">
                Back
            </a>
        </div>
    </div>

    <div class="box">
        <h3 class="title">Dispatches</h3>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <td>ID</td>
                <td>Status</td>
                <td>Error</td>
                <td>Timestamps</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var dispatch in _message.Dispatches)
            {
                <tr>
                    <td>@dispatch.Id</td>
                    <td>@(dispatch.Status == KratosMessageDispatch.StatusEnum.Success ? "✅" : "❌")</td>
                    <td>@(dispatch.Error ?? "-")</td>
                    <td>
                        <p>Updated: @dispatch.UpdatedAt</p>
                        <p>Created: @dispatch.CreatedAt</p>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="box mt-3">
        <h3 class="title">Content</h3>
        <div class="is-small">
            <pre class="is-small"><p class="subtitle">@_message.Subject</p><p>@_message.Body</p></pre>
        </div>
    </div>
}