@model LogoutModel
@{
    ViewData["Title"] = OryTranslator.Get("logout.title");
    Layout = "_CardLayout";
}

<h1 class="title">@OryTranslator.Get("logout.title")</h1>
<form method="post" action="logout">
    @Html.AntiForgeryToken()
    <input type="hidden" name="challenge" value="@Model.logoutChallenge"/>
    <div class="buttons mt-5 is-fullwidth">
        <button class="button is-info is-fullwidth" name="submit" type="submit" value="yes">
            @OryTranslator.Get("logout.accept-button")
        </button>
        <button class="button is-light is-fullwidth" name="submit" type="submit" value="no">
            @OryTranslator.Get("logout.reject-button")
        </button>
    </div>
</form>