@inject EnvService EnvService

<aside class="is-narrow-mobile is-fullheight">
    <p class="menu-label">Home</p>
    <ul class="menu-list">
        <li>
            <a href="/">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-server"></i>
                </span> Services
            </a>
        </li>
    </ul>
    <p class="menu-label">Identities</p>
    <ul class="menu-list">
        <li>
            <a href="identities/users" class="@(EnvService.EnabledKratos ? "" : "is-disabled")">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-users"></i>
                </span> Users
            </a>
        </li>
        <li>
            <a href="identities/schemas" class="@(EnvService.EnabledKratos ? "" : "is-disabled")">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-receipt"></i>
                    </span>
                    <span>Identity Schemas</span>
                </span>
            </a>
        </li>
        <li>
            <a href="identities/messages" class="@(EnvService.EnabledKratos ? "" : "is-disabled")">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-envelope"></i>
                </span> Message Log
            </a>
        </li>
    </ul>
    <p class="menu-label">OAuth2</p>
    <ul class="menu-list">
        <li>
            <a href="oauth2" class="@(EnvService.EnabledHydra ? "" : "is-disabled")">
                <span class="icon">
                    <i class="fa-solid fa-circle-info"></i>
                </span> Information
            </a>
        </li>
        <li>
            <a href="oauth2/clients" class="@(EnvService.EnabledHydra ? "" : "is-disabled")">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-window-restore"></i>
                </span> Clients
            </a>
        </li>
        <li>
            <a href="oauth2/issuers" class="@(EnvService.EnabledHydra ? "" : "is-disabled")">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-address-card"></i>
                </span> Grant Issuers
            </a>
        </li>
    </ul>
    <p class="menu-label">Permissions</p>
    <ul class="menu-list">
        <li>
            <a href="permissions" class="@(EnvService.EnabledKeto ? "" : "is-disabled")">
                <span class="icon" style="height: 16px; width: 16px">
                    <i class="fa-solid fa-rectangle-list"></i>
                </span> Permissions
            </a>
        </li>
    </ul>
</aside>