@model KratosLoginFlow
@{
    ViewData["Title"] = Translator.GetTranslation("Sign In");
    Layout = "_CardLayout";
}

<h1 class="title has-text-centered">@Translator.GetTranslation("Sign In")</h1>
<p class="has-text-centered">
    @Translator.GetTranslation("No account yet?")
    <a href="registration">
        @Translator.GetTranslation("Sign Up")
    </a>
</p>
<hr/>
<form method="@Model.Ui.Method.ToLower()" action="@Model.Ui.Action">
    @if (Model.Ui.Messages != null)
    {
        foreach (var message in Model.Ui.Messages)
        {
            @await Component.InvokeAsync("KratosUiTextMessage", message)
        }
    }
    @foreach (var node in Model.Ui.Nodes)
    {
        @await Component.InvokeAsync("KratosUiNodeInput", node)
    }
    <div class="field separator mt-5">@Translator.GetTranslation("Or sign in with")</div>
    <div class="field">
        <div class="columns is-mobile is-multiline">
            @for (var i = 0; i < 1; i++)
            {
                <div class="column is-one-third">
                    <a class="button is-fullwidth">
                        <span class="icon">
                            <i class="fab fa-google"></i>
                        </span>
                        <span>Google</span>
                    </a>
                </div>
            }
        </div>
    </div>
</form>