@model KratosRecoveryFlow
@{
    ViewData["Title"] = Translator.GetTranslation("ResetPassword");
    Layout = "_CardLayout";
}

<h1 class="title has-text-centered">@Translator.GetTranslation("ResetPassword")</h1>
<p class="has-text-centered">
    @Translator.GetTranslation("RememberYourPassword")
    <a href="login">
        @Translator.GetTranslation("SignIn")
    </a>
</p>
<hr/>
<form method="@Model.Ui.Method.ToLower()" action="@Model.Ui.Action">
    @if (Model.Ui.Messages != null)
    {
        foreach (var message in Model.Ui.Messages)
        {
            @await Component.InvokeAsync("KratosUiTextMessage", message)
        }
    }
    @foreach (var node in Model.Ui.Nodes)
    {
        @await Component.InvokeAsync("KratosUiNodeInput", node)
    }
</form>