@model KratosVerificationFlow
@{
    ViewData["Title"] = "Verification";
}

<section class="hero has-background-white-ter is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7-tablet is-6-desktop is-5-widescreen">
                    <div class="box">
                        <h1 class="title has-text-centered">@Translator.GetTranslation("Sign In")</h1>
                        <p class="has-text-centered">
                            @Translator.GetTranslation("Don't have an account yet?")
                            <a href="registration">
                                @Translator.GetTranslation("Sign Up")
                            </a>
                        </p>
                        <hr/>
                        <form method="@Model.Ui.Method.ToLower()" action="@Model.Ui.Action">
                            @if (Model.Ui.Messages != null)
                            {
                                foreach (var message in Model.Ui.Messages)
                                {
                                    @await Component.InvokeAsync("KratosUiTextMessage", message)
                                }
                            }
                            @foreach (var node in Model.Ui.Nodes)
                            {
                                @await Component.InvokeAsync("KratosUiNodeInput", node)
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>