@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
    var uiText = attributes.Label ?? Model.node.Meta.Label;
}

<div class="field">
    <label class="checkbox">
        <input type="checkbox" class="checkbox"
               @(attributes.Required ? "required" : "")
               @(attributes.Value?.ToString() == "True" ? "checked" : "")
               @(attributes.Disabled ? "disabled" : "") 
               name="@attributes.Name"
               value="true"
               onclick="@attributes.Onclick" pattern="@attributes.Pattern"/>
        @OryTranslator.ForUiText(uiText)@(attributes.Required ? "*" : "")
    </label>
    @await Component.InvokeAsync("KratosUiTextMessages", Model.node.Messages)
</div>