@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
    var uiText = attributes.Label ?? Model.node.Meta.Label;
}

<div class="field">
    <label class="label">
        @OryTranslator.ForUiText(uiText)
        <div class="control">
            <input type="@attributes.Type.ToString().ToLower()" class="input"
                   required="@attributes.Required"
                   value="@attributes.Value" autocomplete="@attributes.Autocomplete.ToString()?.ToLower()"
                   disabled="@attributes.Disabled" name="@attributes.Name"
                   onclick="@attributes.Onclick" pattern="@attributes.Pattern"/>
        </div>
    </label>
    @if (attributes.Type == KratosUiNodeInputAttributes.TypeEnum.Password
         && Model.node.Group == KratosUiNode.GroupEnum.Password
         && Model.FlowType == FlowType.Login)
    {
        <div class="field">
            <div class="control">
                <div class="is-flex is-justify-content-space-between is-mobile">
                    <div>
                        <!--<label for="rememberMeCheck" class="checkbox">
                            <input type="checkbox" id="rememberMeCheck">
                            Remember me
                        </label>-->
                    </div>
                    <p>
                        <a href="@Model.forgotPasswordUrl">
                            @OryTranslator.Get("login.forgot-password")
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }

    @await Component.InvokeAsync("KratosUiTextMessages", Model.node.Messages)
</div>