@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
    var uiText = attributes.Label ?? Model.node.Meta.Label;
}

<label class="checkbox">
    <input type="checkbox" class="input"
           required="@attributes.Required"
           value="@attributes.Value" autocomplete="@attributes.Autocomplete.ToString()?.ToLower()"
           disabled="@attributes.Disabled" name="@attributes.Name"
           onclick="@attributes.Onclick" pattern="@attributes.Pattern"/>
    @OryTranslator.ForUiText(uiText)
    <KratosUiTextMessages Message="@Model.node.Messages"/>
</label>