@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
}

<div class="column is-half">
    <button type="submit" 
            class="button is-fullwidth is-dark is-outlined"
            required="@attributes.Required"
            disabled="@attributes.Disabled"
            value="@attributes.Value"
            name="@attributes.Name"
            onclick="@attributes.Onclick">
        <span class="icon">
            <i class="fab fa-@(attributes.Value?.ToString()?.ToLowerInvariant() ?? "building")"></i>
        </span>
        @* Not using @OryTranslator.ForUiText(uiText), label too long *@
        <span>@attributes.Value</span>
    </button>
    @await Component.InvokeAsync("KratosUiTextMessages", Model.node.Messages)
</div>