@model KratosUiNodeArgs

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeScriptAttributes();
}

<div class="field">
    <script src="@attributes.Src" async="@attributes.Async"
            crossorigin="@attributes.Crossorigin" referrerpolicy="@attributes.Referrerpolicy"
            nonce="@attributes.Nonce" integrity="@attributes.Integrity"
            id="@attributes.Id"></script>
    <KratosUiTextMessages Message="@Model.node.Messages"/>
</div>