@{
    ViewData["Title"] = "Welcome";
    Layout = "_CardLayout";
}

<div class="section">
    <h1 class="title">@CustomTranslator.Get("Welcome")</h1>
    <nav>
        <li>
            <a href="login">@OryTranslator.Get("login.title")</a>
        </li>
        <li>
            <a href="registration">@OryTranslator.Get("registration.title")</a>
        </li>
        <li>
            <a href="verification">@OryTranslator.Get("verification.title")</a>
        </li>
        <li>
            <a href="sessions">Sessions</a>
        </li>
        <li>
            <a href="settings">@OryTranslator.Get("settings.title")</a>
        </li>
        <li>
            <a href="logout">@CustomTranslator.Get("Logout")</a>
        </li>
    </nav>
</div>