@page "/"
@using KratosAdmin.Services
@inject EnvService EnvService
@attribute [StreamRendering(true)]
@inject ICustomTranslator Translator
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<section class="section mt-5 columns is-multiline">
    <div class="column is-half">
        <div class="box">
            <h2 class="title">Kratos</h2>
            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <td>Admin URL</td>
                    <td>@_kratosAdminUrl</td>
                </tr>
                <tr>
                    <td>Alive</td>
                    <td>@(_kratosAlive ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Ready</td>
                    <td>@(_kratosReady ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>@_kratosVersion</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="column is-half">
        <div class="box">
            <h2 class="title">Hydra</h2>
            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <td>Admin URL</td>
                    <td>@_hydraAdminUrl</td>
                </tr>
                <tr>
                    <td>Alive</td>
                    <td>@(_hydraAlive ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Ready</td>
                    <td>@(_hydraReady ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>@_hydraVersion</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="column is-half">
        <div class="box">
            <h2 class="title">OathKeeper</h2>
            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <td>Admin URL</td>
                    <td>@_oathKeeperAdminUrl</td>
                </tr>
                <tr>
                    <td>Alive</td>
                    <td>@(_oathKeeperAlive ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Ready</td>
                    <td>@(_oathKeeperReady ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>@_oathKeeperVersion</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="column is-half">
        <div class="box">
            <h2 class="title">Keto</h2>
            <table class="table is-fullwidth">
                <tbody>
                <tr>
                    <td>Read URL</td>
                    <td>@_ketoReadUrl</td>
                </tr>
                <tr>
                    <td>Write URL</td>
                    <td>@_ketoWriteUrl</td>
                </tr>
                <tr>
                    <td>Alive</td>
                    <td>@(_ketoAlive ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Ready</td>
                    <td>@(_ketoReady ? "✅" : "❌")</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>@_ketoVersion</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>