@page "/"
@inject EnvService EnvService
@attribute [StreamRendering]
@attribute [RenderModeInteractiveServer]
@inject ICustomTranslator Translator
@inject ILogger<Home> Logger

<PageTitle>Services</PageTitle>

<h1 class="title">Services</h1>
<section class="columns is-multiline">
    @if (_enabledKratos)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">Kratos</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>Admin URL</td>
                        <td>@_OryAdminUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_kratosAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_kratosReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_kratosVersion"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (_enabledHydra)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">Hydra</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>Admin URL</td>
                        <td>@_hydraAdminUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_hydraAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_hydraReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_hydraVersion"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (_enabledOathKeeper)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">OathKeeper</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>API URL</td>
                        <td>@_oathKeeperApiUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_oathKeeperAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_oathKeeperReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_oathKeeperVersion"/>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (_enabledKeto)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">Keto</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>Read URL</td>
                        <td>@_ketoReadUrl</td>
                    </tr>
                    <tr>
                        <td>Write URL</td>
                        <td>@_ketoWriteUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_ketoAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_ketoReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_ketoVersion"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</section>