@page "/"
@inject EnvService env
@rendermode InteractiveServer

<PageTitle>Services | OryAdmin</PageTitle>

<h1 class="title">Services</h1>
<section class="columns is-multiline">
    @if (env.EnabledKratos)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">Kratos</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>Admin URL</td>
                        <td>@env.KratosAdminUrl</td>
                    </tr>
                    <tr>
                        <td>Public URL</td>
                        <td>@env.KratosPublicUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_kratosAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_kratosReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_kratosVersion"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (env.EnabledHydra)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">Hydra</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>Admin URL</td>
                        <td>@env.HydraAdminUrl</td>
                    </tr>
                    <tr>
                        <td>Public URL</td>
                        <td>@env.HydraAdminUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_hydraAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_hydraReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_hydraVersion"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (env.EnabledOathkeeper)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">OathKeeper</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>API URL</td>
                        <td>@env.OathKeeperApiUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_oathKeeperAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_oathKeeperReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_oathKeeperVersion"/>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (env.EnabledKeto)
    {
        <div class="column is-half">
            <div class="box">
                <h2 class="subtitle">Keto</h2>
                <table class="table is-fullwidth">
                    <tbody>
                    <tr>
                        <td>Read URL</td>
                        <td>@env.KetoReadUrl</td>
                    </tr>
                    <tr>
                        <td>Write URL</td>
                        <td>@env.KetoWriteUrl</td>
                    </tr>
                    <tr>
                        <td>Alive</td>
                        <td>
                            <AsyncBoolean Value="@_ketoAlive"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Ready</td>
                        <td>
                            <AsyncBoolean Value="@_ketoReady"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>
                            <AsyncString Value="@_ketoVersion"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</section>