@page "/oauth2/issuers"
@rendermode InteractiveServer

<PageTitle>OAuth 2 JWT Grant Issuers | OryAdmin</PageTitle>

<h1 class="title">OAuth 2 JWT Grant Issuers</h1>
<div class="buttons">
    <a href="oauth2/issuers/create" class="button is-success">
        Trust New Issuer
    </a>
</div>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    if (_trustedIssuers == null)
    {
        <div class="message is-danger p-2">
            <p>The list could not be loaded.</p>
        </div>
    }
    else
    {
        if (_trustedIssuers.Count == 0)
        {
            <p>There are no issuers.</p>
        }
        else
        {
            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Issuer</td>
                    <td>Scope</td>
                    <td>Subject</td>
                    <td>Allow any subject</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var issuer in _trustedIssuers!)
                {
                    <tr>
                        <td>@issuer.Id</td>
                        <td>@issuer.Issuer</td>
                        <td>@string.Join(",", issuer.Scope)</td>
                        <td>@issuer.Subject</td>
                        <td>@issuer.AllowAnySubject</td>
                        <td>
                            <p>Created: @issuer.CreatedAt</p>
                            <p>Expires: @issuer.ExpiresAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    }
}