@model KratosUiNode

@{
    var attributes = Model.Attributes.GetKratosUiNodeImageAttributes();
}

<div class="field">
    <img src="@attributes.Src" class="image" height="@attributes.Height" width="@attributes.Width"
         id="@attributes.Id" alt="image"/>
    @foreach (var message in Model.Messages)
    {
        <KratosUiTextMessage Message="@message"/>
    }
</div>