@model KratosUiNodeModel

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
    var uiText = attributes.Label ?? Model.node.Meta.Label;
    var caption = OryTranslator.ForUiText(uiText);
}

<div class="field">
    <div class="control mt-5">
        <button type="submit" class="button is-success is-fullwidth"
                required="@attributes.Required"
                disabled="@attributes.Disabled"
                value="@attributes.Value"
                name="@attributes.Name"
                onclick="@attributes.Onclick">
            @caption
        </button>
    </div>
    @foreach (var message in Model.node.Messages)
    {
        <KratosUiTextMessage Message="@message"/>
    }
</div>