@model KratosUiNodeModel

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
    var uiText = attributes.Label ?? Model.node.Meta.Label;
}

<div class="field">
    <input type="checkbox" class="input"
           required="@attributes.Required"
           value="@attributes.Value" autocomplete="@attributes.Autocomplete.ToString()?.ToLower()"
           disabled="@attributes.Disabled" name="@attributes.Name"
           onclick="@attributes.Onclick" pattern="@attributes.Pattern"/>
    @foreach (var message in Model.node.Messages)
    {
        <KratosUiTextMessage Message="@message"/>
    }
</div>