@model KratosUiNode

@{
    var attributes = Model.Attributes.GetKratosUiNodeInputAttributes();
    var label = attributes.Label ?? Model.Meta.Label;
}

<div class="field">
    <div class="control mt-5">
        <button type="submit" class="button is-success is-fullwidth"
                required="@attributes.Required"
                disabled="@attributes.Disabled"
                value="@attributes.Value"
                name="@attributes.Name"
                onclick="@attributes.Onclick">
            @label?.Text
        </button>
    </div>
    @foreach (var message in Model.Messages)
    {
        <KratosUiTextMessage Message="@message"/>
    }
</div>