@model KratosUiNodeModel

@{
    var attributes = Model.node.Attributes.GetKratosUiNodeInputAttributes();
    var uiText = attributes.Label ?? Model.node.Meta.Label;
    var isFullWidth = Model.FlowType != FlowType.Settings;
    var buttonType = attributes.Name switch
    {
        "lookup_secret_disable" => "is-warning",
        "totp_unlink" => "is-warning",
        _ => "is-success"
        };
}

<div class="field">
    <div class="control mt-5">
        <button type="submit"
                class="button @buttonType @(isFullWidth ? "is-fullwidth" : "")"
                required="@attributes.Required"
                disabled="@attributes.Disabled"
                value="@attributes.Value"
                name="@attributes.Name"
                onclick="@attributes.Onclick">
            @if (Model.node.Group == KratosUiNode.GroupEnum.Webauthn && Model.node.Meta?.Label.Id == 1010001)
            {
                <span>@CustomTranslator.Get($"{Model.node.Meta.Label.Id}-webauthn")</span>
            }
            else
            {
                <span>@OryTranslator.ForUiText(uiText)</span>
            }
        </button>
    </div>
    @foreach (var message in Model.node.Messages)
    {
        <KratosUiTextMessage Message="@message"/>
    }
</div>