@page "/identities"
@using Newtonsoft.Json.Linq
@attribute [StreamRendering]
@inject ICustomTranslator Translator
@inject ILogger<Home> Logger
@inject NavigationManager Navigation

<PageTitle>Identities</PageTitle>

<div class="is-fullheight">
    <section class="section mt-6">
        <a href="identities/create" class="button is-success">
            New Identity
        </a>
        <button class="button is-info" @onclick="@RefreshPage">
            Refresh Page
        </button>
        <div class="mt-5">
            @if (_isLoading)
            {
                // is loading
                <p>Loading data...</p>
            }
            else
            {
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <td>ID</td>
                        @foreach (var item in _traitSchemes!)
                        {
                            <td>@item.Schema.Title</td>
                        }
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var identity in _identities!)
                    {
                        <tr>
                            <td>
                                <a class="btn-link" href="identities/@(identity.Id)">
                                    @identity.Id
                                </a>
                            </td>
                            @foreach (var schema in _traitSchemes!)
                            {
                                <td>
                                    @IdentityService.GetTraitValueFromPath((JObject)identity.Traits, schema.Path)
                                </td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    </section>
    <section class="section mt-1">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a href="identities?page=@(PageNr - 1)"
               class="pagination-previous @(PageNr < 2 ? "is-disabled" : "")">
                Previous
            </a>
            <a href="identities?page=@(PageNr + 1)"
               class="pagination-next @(PageNr > 12345 ? "is-disabled" : "")">
                Next Page
            </a>
            <ul class="pagination-list">
                <PaginationLink IsActive="@(PageNr == 1)" PageNr="1"/>
                <PaginationEllipsis IsHidden="@(PageNr < 5)"/>
                @for (var i = int.Max(2, (int)PageNr! - 2); i < int.Min(23, (int)PageNr + 3); i++)
                {
                    <PaginationLink IsActive="@(i == PageNr)" PageNr="i"/>
                }
                <PaginationEllipsis IsHidden="@(PageNr > 20)"/>
                <PaginationLink IsActive="@(PageNr == 23)" PageNr="23"/>
            </ul>
        </nav>
    </section>
</div>