@if (!_isLoading)
{
    <label class="checkbox">
        <input type="checkbox" class="input"
               required="@_attributes.Required"
               value="@_attributes.Value" autocomplete="@_attributes.Autocomplete.ToString()?.ToLower()"
               disabled="@_attributes.Disabled" name="@_attributes.Name"
               onclick="@_attributes.Onclick" pattern="@_attributes.Pattern"/>
        @OryTranslator.ForUiText(_uiText)
        <KratosUiTextMessages list="@node.Messages"/>
    </label>
}