@if (!_isLoading)
{
    <div class="column is-half">
        <button type="submit" 
                class="button is-fullwidth is-dark is-outlined"
                required="@_attributes.Required"
                disabled="@_attributes.Disabled"
                value="@_attributes.Value"
                name="@_attributes.Name"
                onclick="@_attributes.Onclick">
            <span class="icon">
                <i class="fab fa-@_attributes.Value.ToString()?.ToLowerInvariant()"></i>
            </span>
            @* Not using @OryTranslator.ForUiText(uiText), label too long *@
            <span>@_attributes.Value</span>
        </button>
        <KratosUiTextMessages list="@node.Messages"/>
    </div>
}