@using Ory.Kratos.Client.Model
@if (!_isLoading)
{
    <div class="field">
        <label class="label">
            @OryTranslator.ForUiText(_uiText)
            <div class="control">
                <input type="@_attributes.Type.ToString().ToLower()" class="input"
                       required="@_attributes.Required"
                       value="@_attributes.Value" autocomplete="@_attributes.Autocomplete.ToString()?.ToLower()"
                       disabled="@_attributes.Disabled" name="@_attributes.Name"
                       onclick="@_attributes.Onclick" pattern="@_attributes.Pattern"/>
            </div>
        </label>
        @if (_showForgotPasswordLink)
        {
            <div class="field">
                <div class="control">
                    <div class="is-flex is-justify-content-space-between is-mobile">
                        <div>
                            <!--<label for="rememberMeCheck" class="checkbox">
                            <input type="checkbox" id="rememberMeCheck">
                            Remember me
                        </label>-->
                        </div>
                        <p>
                            <a href="@forgotPasswordUrl">
                                @OryTranslator.Get("login.forgot-password")
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }

        <KratosUiTextMessages list="@node.Messages"/>
    </div>
}