@page "/recovery"
@layout CardLayout
@inject NavigationManager nav
@inject ILogger<Login> logger
@inject ApiService api
@inject IHttpContextAccessor accessor
@attribute [AllowAnonymous]

<PageTitle>@OryTranslator.Get("recovery.title")</PageTitle>

<h1 class="title has-text-centered">@OryTranslator.Get("recovery.title")</h1>

@if (_isLoading)
{
    <Spinner/>
}
else
{
    <p class="has-text-centered">
        @OryTranslator.Get("recovery.login-label")
        <a href="@_loginUrl">
            @OryTranslator.Get("recovery.login-button")
        </a>
    </p>
    <hr/>
    <KratosUiTextMessages list="@_flow.Ui.Messages" />
    
    <KratosUiComponent ui="@_flow.Ui" flowType="@FlowType.Recovery" />
}