@using Newtonsoft.Json.Linq
@using KratosSelfService.Extensions
@model ProfileModel
@{
    ViewData["Title"] = CustomTranslator.Get("profile.title");
    Layout = "_NavbarLayout";
    var traits = (JObject)Model.session.Identity.Traits;
}

@* mobile screen *@
<section class="section is-fullheight is-hidden-tablet">
    <h2 class="title">
        @CustomTranslator.Get("profile.title")
    </h2>
    @foreach (var (schemaPathSections, schema) in Model.traitSchemas)
            {
                var value = traits.GetTraitValueFromPath(schemaPathSections);
                <p class="is-bold">@schema.Title</p>
                @if (string.IsNullOrWhiteSpace(value))
                {
                    <p class="is-italic has-text-grey mb-3">
                        @CustomTranslator.Get("profile.empty")
                    </p>
                }
                else
                {
                    <p class="mb-3">@value</p>
                }
            }
</section>

@* larger screens *@
<section class="section is-fullheight is-hidden-mobile">
    <h2 class="title">
        @CustomTranslator.Get("profile.title")
    </h2>
    <table class="table is-fullwidth">
        <tbody>
        @foreach (var (schemaPathSections, schema) in Model.traitSchemas)
        {
            var value = traits.GetTraitValueFromPath(schemaPathSections);
            <tr>
                <td>@schema.Title</td>
                @if (string.IsNullOrWhiteSpace(value))
                {
                    <td>
                        <p class="is-italic has-text-grey">
                            @CustomTranslator.Get("profile.empty")
                        </p>
                    </td>
                }
                else
                {
                    <td>@value</td>
                }
            </tr>
        }
        </tbody>
    </table>
</section>