@model RegistrationModel
@{
    ViewData["Title"] = OryTranslator.Get("registration.title");
    Layout = "_CardLayout";
}

<h1 class="title has-text-centered">@OryTranslator.Get("registration.title")</h1>
<p class="has-text-centered">
    @OryTranslator.Get("registration.login-label")
    <a href="@Model.loginUrl">
        @OryTranslator.Get("registration.login-button")
    </a>
</p>
<hr/>
<form method="@Model.flow.Ui.Method.ToLower()" action="@Model.flow.Ui.Action">
    <div class="mb-5">
        @if (Model.flow.Ui.Messages != null)
        {
            foreach (var message in Model.flow.Ui.Messages)
            {
                @await Component.InvokeAsync("KratosUiTextMessage", message)
            }
        }
        @foreach (var node in Model.flow.Ui.Nodes)
        {
            var model = new KratosUiNodeModel(node);
            @await Component.InvokeAsync("KratosUiNodeInput", model)
        }
    </div>
    <!--<div class="field separator">Or sign up with</div>
    <div class="field">
        <div class="columns is-mobile is-multiline">
            @for (var i = 0; i < 1; i++)
            {
                <div class="column is-one-third">
                    <a class="button is-fullwidth">
                        <span class="icon">
                            <i class="fab fa-google"></i>
                        </span>
                        <span>Google</span>
                    </a>
                </div>
            }
        </div>
    </div>-->
</form>