@using UAParser
@model SessionsModel
@{
    Layout = "_NavbarLayout";
    ViewData["Title"] = CustomTranslator.Get("sessions.title");
    var totalSessions = Model.OtherSessions.Count + 1;
    var uaParser = Parser.GetDefault();
}

<div class="columns">
    <div class="column is-3 is-hidden-touch">
        <div class="section">
            <aside class="menu">
                <p class="menu-label">@CustomTranslator.Get("sessions.title-navigation")</p>
                <ul class="menu-list">
                    <li>
                        <a href="#overview">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-info fa-sm"
                                       style="max-width: 16px; max-height: 16px;">
                                    </i>
                                </span>
                                <span>@CustomTranslator.Get("sessions.nav-overview")</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#this">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-computer fa-sm"
                                       style="max-width: 16px; max-height: 16px;">
                                    </i>
                                </span>
                                <span>@CustomTranslator.Get("sessions.nav-this")</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#other">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fa-solid fa-table-list fa-sm"
                                       style="max-width: 16px; max-height: 16px;">
                                    </i>
                                </span>
                                <span>@CustomTranslator.Get("sessions.nav-other")</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <div class="column is-12 is-9-desktop">
        <div class="section">
            <div class="box" id="overview">
                <h1 class="title">@CustomTranslator.Get("sessions.title")</h1>
                <h2 class="subtitle">@string.Format(CustomTranslator.Get("sessions.amountSessions"), totalSessions)</h2>
            </div>
            <div class="box" id="this">
                <h4 class="title mt-3">@CustomTranslator.Get("sessions.currentSession")</h4>
                <table class="table is-fullwidth">
                    <thead>
                    <tr>
                        <td>@CustomTranslator.Get("sessions.devices")</td>
                        <td>@CustomTranslator.Get("sessions.authenticatedAt")</td>
                        <td class="is-hidden-mobile">@CustomTranslator.Get("sessions.expiresAt")</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            @foreach (var device in Model.CurrentSession.Devices)
                            {
                                var info = uaParser.Parse(device.UserAgent);
                                <p>
                                    @info.OS
                                    (@device.IpAddress@(string.IsNullOrWhiteSpace(device.Location) ? "" : $" {device.Location}"))
                                </p>
                            }
                        </td>
                        <td>
                            @Model.CurrentSession.AuthenticatedAt.ToShortDateString()
                            @Model.CurrentSession.AuthenticatedAt.ToShortTimeString()
                        </td>
                        <td class="is-hidden-mobile">
                            @Model.CurrentSession.ExpiresAt.ToShortDateString()
                            @Model.CurrentSession.ExpiresAt.ToShortTimeString()
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box" id="other">
                <h4 class="title mt-3">@CustomTranslator.Get("sessions.otherSessions")</h4>
                @if (Model.OtherSessions.Count == 0)
                {
                    <p>@CustomTranslator.Get("sessions.noOtherActiveSessions")</p>
                }
                else
                {
                    <form action="/sessions" method="post">
                        @Html.AntiForgeryToken()
                        <div class="buttons">
                            <button type="submit" class="button is-warning" name="action" value="invokeSessions">
                                @CustomTranslator.Get("sessions.logoutOtherSessions")
                            </button>
                        </div>
                    </form>
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <td>@CustomTranslator.Get("sessions.devices")</td>
                            <td>@CustomTranslator.Get("sessions.authenticatedAt")</td>
                            <td class="is-hidden-mobile">@CustomTranslator.Get("sessions.expiresAt")</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var session in Model.OtherSessions)
                        {
                            <tr>
                                <td>
                                    @foreach (var device in session.Devices)
                                    {
                                        var info = uaParser.Parse(device.UserAgent);
                                        <p>
                                            @info.OS
                                            (@device.IpAddress@(string.IsNullOrWhiteSpace(device.Location) ? "" : $" {device.Location}"))
                                        </p>
                                    }
                                </td>
                                <td>@session.AuthenticatedAt</td>
                                <td class="is-hidden-mobile">@session.ExpiresAt</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>