@using UAParser
@model SessionsModel
@{
    Layout = "_NavbarLayout";
    ViewData["Title"] = CustomTranslator.Get("sessions.title");
    var totalSessions = Model.OtherSessions.Count + 1;
    var uaParser = Parser.GetDefault();
}

<div class="section">
    <div class="box">
        <h1 class="title">@CustomTranslator.Get("sessions.title")</h1>
        <h2 class="subtitle">@string.Format(CustomTranslator.Get("sessions.amountSessions"), totalSessions)</h2>
    </div>
    <div class="box">
        <h4 class="title mt-3">@CustomTranslator.Get("sessions.currentSession")</h4>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <td>@CustomTranslator.Get("sessions.devices")</td>
                <td>@CustomTranslator.Get("sessions.authenticatedAt")</td>
                <td>@CustomTranslator.Get("sessions.expiresAt")</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @foreach (var device in Model.CurrentSession.Devices)
                    {
                        var info = uaParser.Parse(device.UserAgent);
                        <p>
                            @info.Device.ToString() on @info.OS
                            (@device.IpAddress
                            @(string.IsNullOrWhiteSpace(device.Location) ? "" : $"({device.Location}"))
                        </p>
                    }
                </td>
                <td>@Model.CurrentSession.AuthenticatedAt</td>
                <td>@Model.CurrentSession.ExpiresAt</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box">
        <h4 class="title mt-3">@CustomTranslator.Get("sessions.otherSessions")</h4>
        @if (Model.OtherSessions.Count == 0)
        {
            <p>@CustomTranslator.Get("sessions.noOtherActiveSessions")</p>
        }
        else
        {
            <div class="buttons">
                <a class="button is-warning" href="sessions-logout">
                    @CustomTranslator.Get("sessions.logoutOtherSessions")
                </a>
            </div>
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>@CustomTranslator.Get("sessions.devices")</td>
                    <td>@CustomTranslator.Get("sessions.authenticatedAt")</td>
                    <td>@CustomTranslator.Get("sessions.expiresAt")</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var session in Model.OtherSessions)
                {
                    <tr>
                        <td>
                            @foreach (var device in session.Devices)
                            {
                                var info = uaParser.Parse(device.UserAgent);
                                <p>
                                    @info.Device.ToString() on @info.OS
                                    (@device.IpAddress
                                    @(string.IsNullOrWhiteSpace(device.Location) ? "" : $"{device.Location}"))
                                </p>
                            }
                        </td>
                        <td>@session.AuthenticatedAt</td>
                        <td>@session.ExpiresAt</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>