@model SessionsModel
@{
    ViewData["Title"] = CustomTranslator.Get("sessions.title");
    var totalSessions = Model.OtherSessions.Count + 1;
}

<div class="section">
    <div class="box">
        <h1 class="title">@CustomTranslator.Get("sessions.title")</h1>
        <h2 class="subtitle">You have @totalSessions active session@(totalSessions == 1 ? "" : "s").</h2>
    </div>
    <div class="box">
        <h4 class="title mt-3">@CustomTranslator.Get("sessions.currentSession")</h4>
        <table class="table is-fullwidth">
            <thead>
            <tr>
                <td>@CustomTranslator.Get("sessions.devices")</td>
                <td>@CustomTranslator.Get("sessions.authenticatedAt")</td>
                <td>@CustomTranslator.Get("sessions.expiresAt")</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@string.Join(", ", Model.CurrentSession.Devices.Select(device => device.IpAddress))</td>
                <td>@Model.CurrentSession.AuthenticatedAt</td>
                <td>@Model.CurrentSession.ExpiresAt</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box">
        <h4 class="title mt-3">@CustomTranslator.Get("sessions.otherSessions")</h4>
        @if (Model.OtherSessions.Count == 0)
        {
            <p>@CustomTranslator.Get("sessions.noOtherActiveSessions")</p>
        }
        else
        {
            <div class="buttons">
                <a class="button is-warning" href="sessions-logout">
                    @CustomTranslator.Get("sessions.logoutOtherSessions")
                </a>
            </div>
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>@CustomTranslator.Get("sessions.devices")</td>
                    <td>@CustomTranslator.Get("sessions.authenticatedAt")</td>
                    <td>@CustomTranslator.Get("sessions.expiresAt")</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var session in Model.OtherSessions)
                {
                    <tr>
                        <td>@string.Join(", ", session.Devices.Select(device => device.IpAddress))</td>
                        <td>@session.AuthenticatedAt</td>
                        <td>@session.ExpiresAt</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>