@page "/identities/users/{UserId}/edit"
@attribute [StreamRendering]
@attribute [RenderModeInteractiveServer]
@inject ICustomTranslator Translator
@inject ILogger<Home> Logger
@inject NavigationManager Navigation

<PageTitle>Edit Identity</PageTitle>

<h1 class="title">Edit Identity</h1>

@if (_isLoading)
{
    // is loading
    <p>Loading data...</p>
}
else
{
    <form @onsubmit="SubmitForm">
        @foreach (var schema in _traitSchemas!)
        {
            var value = _json!.GetTraitValueFromPath(schema.Path);
            <div class="field">
                <label class="label">
                    @schema.Schema.Title
                    <div class="control">
                        <input type="text" class="input" required="@schema.Schema.Required"
                               value="@value" id="@schema.Schema.Id"
                               @onchange="args => UpdateValue(schema, args)"/>
                    </div>
                </label>
            </div>
        }
        <div class="message is-warning p-2 @(string.IsNullOrWhiteSpace(_errorMessage) ? "is-hidden" : "")">
            @_errorMessage
        </div>
        <div class="mt-5">
            <div class="buttons">
                <a class="button" href="identities/users/@(_identity?.Id)">
                    Cancel
                </a>
                <button type="submit" class="button is-success">
                    Save
                </button>
            </div>
        </div>
    </form>
}