@page "/identities/users/{UserId}/edit"
@rendermode InteractiveServer
@inject NavigationManager nav

<PageTitle>Edit Identity | OryAdmin</PageTitle>

<h1 class="title">Edit Identity</h1>

@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    <form @onsubmit="SubmitForm">
        @foreach (var (schemaPathSections, schema) in _traitSchemas!)
        {
            var value = _json!.GetTraitValueFromPath(schemaPathSections);
            <div class="field">
                <label class="label">
                    @schema.Title
                    <div class="control">
                        <input type="text" class="input" required="@schema.Required"
                               value="@value" id="@schema.Id"
                               @onchange="args => _json!.UpdateValueWithSchema(schema, schemaPathSections, args.Value)"/>
                    </div>
                </label>
            </div>
        }
        <div class="message is-warning p-2 @(string.IsNullOrWhiteSpace(_errorMessage) ? "is-hidden" : "")">
            @_errorMessage
        </div>
        <div class="mt-5">
            <div class="buttons">
                <a class="button" href="identities/users/@(_identity?.Id)">
                    Cancel
                </a>
                <button type="submit" class="button is-success">
                    Save
                </button>
            </div>
        </div>
    </form>
}