@page "/identities/users"
@using OryAdmin.Utils
@rendermode InteractiveServer

<PageTitle>Identities | OryAdmin</PageTitle>

<h1 class="title">Identities</h1>
<div class="buttons">
    <a href="identities/users/create" class="button is-success">
        New Identity
    </a>
</div>

@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    if (_identities!.Count == 0)
    {
        <p>There are no created users yet.</p>
    }
    else
    {
        <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>State</td>
                <td>Created</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var identity in _identities!)
            {
                <tr>
                    <td>
                        <a class="btn-link" href="identities/users/@(identity.Id)">
                            @foreach (var address in identity.VerifiableAddresses)
                            {
                                <p>@(address.Value)</p>
                            }
                        </a>
                    </td>
                    <td>@identity.State</td>
                    <td>@identity.CreatedAt</td>
                </tr>
            }
            </tbody>
        </table>
        <Pagination Url="identities/users" 
                    PageSize="@PageSize"
                    PaginationTokens="@PaginationTokens"
                    PageToken="@PageToken"/>
    }
}