@page "/identities/users/{UserId}"
@using UAParser
@rendermode InteractiveServer
@inject NavigationManager nav

<PageTitle>View Identity | OryAdmin</PageTitle>

<h1 class="title">View Identity</h1>
@if (_isLoading)
{
    <p>Loading data...</p>
}
else
{
    <div class="box mt-3">
        <h1 class="title">General</h1>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>ID</td>
                <td>@_identity!.Id</td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    @_identity.State (State changed at @_identity.StateChangedAt)
                </td>
            </tr>
            <tr>
                <td>Identity Schema</td>
                <td>
                    <a href="identities/schemas?id=@_identity.SchemaId">@_identity.SchemaId</a>
                </td>
            </tr>
            <tr>
                <td>Traits</td>
                <td>@_identity.Traits</td>
            </tr>
            <tr>
                <td>Public Metadata</td>
                <td>@(_identity.MetadataPublic ?? "-")</td>
            </tr>
            <tr>
                <td>Admin Metadata</td>
                <td>@(_identity.MetadataAdmin ?? "-")</td>
            </tr>
            <tr>
                <td>Updated At</td>
                <td>@_identity.UpdatedAt</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>@_identity.CreatedAt</td>
            </tr>
            </tbody>
        </table>

        <div class="buttons">
            <a class="button is-dark" href="identities/users">
                Back
            </a>
            <a class="button is-info" href="identities/users/@(_identity!.Id)/edit">
                Edit Identity
            </a>
            <button class="button is-info" @onclick="UpdatePassword">
                Update Password
            </button>
            <button class="js-modal-trigger button is-danger" data-target="delete-identity-modal"
                    type="button" @onclick="() => _showDeleteIdentityModal = true">
                Delete Identity
            </button>
        </div>
        @if (_showDeleteIdentityModal)
        {
            <div id="delete-identity-modal" class="modal is-active">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Confirm Deletion</p>
                        <button class="delete" aria-label="close" @onclick="() => _showDeleteIdentityModal = false"></button>
                    </header>
                    <section class="modal-card-body">
                        <p>Are you sure to delete this identity?</p>
                        <p>Be aware that this cannot be undone.</p>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button" data-target="delete-identity-modal"
                                type="button" @onclick="() => _showDeleteIdentityModal = false">
                            Cancel
                        </button>
                        <div class="button is-danger" @onclick="DeleteIdentity">
                            Delete
                        </div>
                    </footer>
                </div>
            </div>
        }
    </div>

    <div class="box">
        <h1 class="title">Active Sessions</h1>
        @if (_activeSessions!.Count == 0)
        {
            <p>This user has no active sessions.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Authentication Methods</td>
                    <td>Authenticator Assurance Level</td>
                    <td>Devices</td>
                    <td>Timestamps</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                @{
                    var uaParser = Parser.GetDefault();
                }
                @foreach (var session in _activeSessions!)
                {
                    <tr>
                        <td>@session.Id</td>
                        <td>@string.Join(", ", session.AuthenticationMethods.Select(method => method.Method.ToString()))</td>
                        <td>@session.AuthenticatorAssuranceLevel</td>
                        <td>
                            @foreach (var device in session.Devices)
                            {
                                var info = uaParser.Parse(device.UserAgent);
                                <p>
                                    @info.Device.Family on @info.OS
                                    @device.IpAddress
                                    @(string.IsNullOrWhiteSpace(device.Location) ? "" : $"({device.Location})")
                                </p>
                            }
                        </td>
                        <td>
                            <p>Authenticated: @session.AuthenticatedAt</p>
                            <p>Issued: @session.IssuedAt</p>
                            <p>Expires: @session.ExpiresAt</p>
                        </td>
                        <td>
                            <button class="button is-warning is-small"
                                    @onclick="() => _sessionToInvoke = session">
                                Invoke
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            @if (_sessionToInvoke != null)
            {
                <div id="delete-identity-modal" class="modal is-active">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Confirm Invoke Session</p>
                            <button class="delete" aria-label="close"
                                    @onclick="() => _sessionToInvoke = null">
                            </button>
                        </header>
                        <section class="modal-card-body">
                            <p>Are you sure to invoke the identity session?</p>
                            <p>Be aware that this cannot be undone.</p>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="button" data-target="delete-identity-modal"
                                    type="button" @onclick="() => _sessionToInvoke = null">
                                Cancel
                            </button>
                            <div class="button is-danger"
                                 @onclick="() => DisableIdentitySession(_sessionToInvoke.Id)">
                                Yes
                            </div>
                        </footer>
                    </div>
                </div>
            }
        }

        <div class="buttons pt-3">
            <a class="button is-info"
               href="/identities/users/@UserId/sessions">
                View All Sessions
            </a>
        </div>
    </div>

    @if (_oauth2Sessions != null)
    {
        <div class="box">
            <h1 class="title">Active OAuth2 Sessions</h1>
            @if (_oauth2Sessions!.Count == 0)
            {
                <p>This user has no active OAuth2 sessions.</p>
            }
            else
            {
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <td>Client name</td>
                        <td>Remember</td>
                        <td>Grant scope</td>
                        <td>Grant access token audience</td>
                        <td>Handled at</td>
                        <td>Refresh token expires at</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var session in _oauth2Sessions!)
                    {
                        <tr>
                            <td>
                                <a href="oauth2/clients/@session.ConsentRequest.VarClient.ClientId">
                                    @session.ConsentRequest.VarClient.ClientName
                                </a>
                            </td>
                            @if (session.ConsentRequest.Skip || session.ConsentRequest.VarClient.SkipConsent)
                            {
                                <td>Consent skipped</td>
                            }
                            else
                            {
                                @if (session.Remember)
                                {
                                    <td>Yes, @(session.RememberFor == 0 ? "indefinitely" : $"for {session.RememberFor} seconds")</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                            }
                            <td>@(session.GrantScope == null || session.GrantScope.Count == 0 ? "-" : string.Join(", ", session.GrantScope))</td>
                            <td>@(session.GrantAccessTokenAudience == null || session.GrantAccessTokenAudience.Count == 0 ? "-" : string.Join(", ", session.GrantAccessTokenAudience))</td>
                            <td>@session.HandledAt</td>
                            <td>@(session.ExpiresAt != null ? session.ExpiresAt?.RefreshToken : "-")</td>
                            <td>
                                <button class="button is-info is-small"
                                        @onclick="() => _oauth2SessionToShowDetailsFor = session">
                                    Details
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="buttons">
                    <button class="button is-warning"
                            @onclick="() => _showRevokeOAuth2SessionsModal = true">
                        Revoke Sessions
                    </button>
                </div>
                @if (_showRevokeOAuth2SessionsModal)
                {
                    <div id="delete-identity-modal" class="modal is-active">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Confirm Revoke OAuth2 Sessions</p>
                                <button class="delete" aria-label="close" @onclick="() => _showRevokeOAuth2SessionsModal = false"></button>
                            </header>
                            <section class="modal-card-body">
                                <p>Are you sure to revoke every OAuth2 session of this user?</p>
                                <p>Be aware that this cannot be undone.</p>
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button" data-target="delete-identity-modal"
                                        type="button" @onclick="() => _showRevokeOAuth2SessionsModal = false">
                                    Cancel
                                </button>
                                <div class="button is-danger" @onclick="RevokeOAuth2ConsentSessions">
                                    Yes
                                </div>
                            </footer>
                        </div>
                    </div>
                }

                @if (_oauth2SessionToShowDetailsFor != null)
                {
                    <div id="oauth2-session-details" class="modal is-active">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">OAuth2 session details</p>
                                <button class="delete" aria-label="close" @onclick="() => _oauth2SessionToShowDetailsFor = null"></button>
                            </header>
                            <section class="modal-card-body">
                                <table class="table is-fullwidth">
                                    <tbody>
                                    <tr>
                                        <td>Session access token</td>
                                        <td>@_oauth2SessionToShowDetailsFor.Session.AccessToken</td>
                                    </tr>
                                    <tr>
                                        <td>Session ID token</td>
                                        <td>@_oauth2SessionToShowDetailsFor.Session.IdToken</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button" data-target="delete-client-modal"
                                        type="button" @onclick="() => _oauth2SessionToShowDetailsFor = null">
                                    OK
                                </button>
                            </footer>
                        </div>
                    </div>
                }
            }
        </div>
    }

    <div class="box">
        <h1 class="title">Credentials</h1>
        @if (_identity.Credentials!.Count == 0)
        {
            <p>This user has no credentials.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>Type</td>
                    <td>Version</td>
                    <td>Identifiers</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var credential in _identity.Credentials.Values)
                {
                    <tr>
                        <td>@credential.Type</td>
                        <td>@credential.VarVersion</td>
                        <td>@string.Join(", ", credential.Identifiers)</td>
                        <td>
                            <p>Updated: @credential.UpdatedAt</p>
                            <p>Created: @credential.CreatedAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>

    <div class="box">
        <h1 class="title">Verifiable Addresses</h1>
        @if (_identity.VerifiableAddresses.Count == 0)
        {
            <p>This user has no verifiable addresses.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Value</td>
                    <td>Verified</td>
                    <td>Via</td>
                    <td>Status</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var address in _identity.VerifiableAddresses)
                {
                    <tr>
                        <td>@address.Id</td>
                        <td>@address.Value</td>
                        <td>@(address.Verified ? "✅" : "❌")</td>
                        <td>@address.Via</td>
                        <td>@address.Status</td>
                        <td>
                            <p>Verified: @address.VerifiedAt</p>
                            <p>Updated: @address.UpdatedAt</p>
                            <p>Created: @address.CreatedAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>

    <div class="box">
        <h1 class="title">Recovery Addresses</h1>
        @if (_identity.RecoveryAddresses.Count == 0)
        {
            <p>This user has no recovery addresses.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Value</td>
                    <td>Via</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var address in _identity.RecoveryAddresses)
                {
                    <tr>
                        <td>@address.Id</td>
                        <td>@address.Value</td>
                        <td>@address.Via</td>
                        <td>
                            <p>Updated: @address.UpdatedAt</p>
                            <p>Created: @address.CreatedAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
}