@page "/identities/users/{UserId}"
@attribute [StreamRendering]
@attribute [RenderModeInteractiveServer]
@inject NavigationManager nav

<PageTitle>View Identity | OryAdmin</PageTitle>

<h1 class="title">View Identity</h1>
@if (_isLoading)
{
    // is loading
    <p>Loading data...</p>
}
else
{
    <div class="box mt-3">
        <h1 class="title">General</h1>
        <table class="table is-fullwidth">
            <tbody>
            <tr>
                <td>ID</td>
                <td>@_identity!.Id</td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    @_identity.State (State changed at @_identity.StateChangedAt)
                </td>
            </tr>
            <tr>
                <td>Identity Schema</td>
                <td>
                    <a href="identities/schemas?id=@_identity.SchemaId">@_identity.SchemaId</a>
                </td>
            </tr>
            <tr>
                <td>Traits</td>
                <td>@_identity.Traits</td>
            </tr>
            <tr>
                <td>Updated At</td>
                <td>@_identity.UpdatedAt</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>@_identity.CreatedAt</td>
            </tr>
            </tbody>
        </table>

        <div class="buttons">
            <a class="button is-dark" href="identities/users">
                Back
            </a>
            <a class="button is-info" href="identities/users/@(_identity!.Id)/edit">
                Edit Identity
            </a>
            <button class="button is-info" @onclick="UpdatePassword">
                Update Password
            </button>
            <button class="js-modal-trigger button is-danger" data-target="delete-identity-modal"
                    type="button" @onclick="ShowDeleteModal">
                Delete Identity
            </button>
        </div>
        <div id="delete-identity-modal" class="modal @(_showDeleteModal ? "is-active" : "")">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Confirm Deletion</p>
                    <button class="delete" aria-label="close" @onclick="HideDeleteModal"></button>
                </header>
                <section class="modal-card-body">
                    <p>Are you sure to delete this identity?</p>
                    <p>Be aware that this cannot be undone.</p>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" data-target="delete-identity-modal"
                            type="button" @onclick="HideDeleteModal">
                        Cancel
                    </button>
                    <div class="button is-danger" @onclick="DeleteIdentity">
                        Delete
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <div class="box">
        <h1 class="title">Active Sessions</h1>
        @if (_activeSessions!.Count == 0)
        {
            <p>This user has no active sessions.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Authentication Methods</td>
                    <td>Authenticator Assurance Level</td>
                    <td>Devices</td>
                    <td>Additional Properties</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var session in _activeSessions!)
                {
                    <tr>
                        <td>@session.Id</td>
                        <td>@string.Join(", ", session.AuthenticationMethods.Select(method => method.Method.ToString()))</td>
                        <td>@session.AuthenticatorAssuranceLevel</td>
                        <td>
                            @foreach (var device in session.Devices)
                            {
                                <p>@device.Id (@device.IpAddress)</p>
                            }
                        </td>
                        <td>
                            @if (session.AdditionalProperties.Count == 0)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                @foreach (var (key, value) in session.AdditionalProperties)
                                {
                                    <p>@key: @value</p>
                                }
                            }
                        </td>
                        <td>
                            <p>Authenticated: @session.AuthenticatedAt</p>
                            <p>Issued: @session.IssuedAt</p>
                            <p>Expires: @session.ExpiresAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>

    <div class="box">
        <h1 class="title">Credentials</h1>
        @if (_identity.Credentials!.Count == 0)
        {
            <p>This user has no credentials.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>Type</td>
                    <td>Version</td>
                    <td>Identifiers</td>
                    <td>Additional properties</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var credential in _identity.Credentials.Values)
                {
                    <tr>
                        <td>@credential.Type</td>
                        <td>@credential._Version</td>
                        <td>@string.Join(", ", credential.Identifiers)</td>
                        <td>
                            @if (credential.AdditionalProperties.Count == 0)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                @foreach (var (key, value) in credential.AdditionalProperties)
                                {
                                    <p>@key: @value</p>
                                }
                            }
                        </td>
                        <td>
                            <p>Updated: @credential.UpdatedAt</p>
                            <p>Created: @credential.CreatedAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>

    <div class="box">
        <h1 class="title">Verifiable Addresses</h1>
        @if (_identity.VerifiableAddresses.Count == 0)
        {
            <p>This user has no verifiable addresses.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Value</td>
                    <td>Verified</td>
                    <td>Via</td>
                    <td>Status</td>
                    <td>Additional Properties</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var address in _identity.VerifiableAddresses)
                {
                    <tr>
                        <td>@address.Id</td>
                        <td>@address.Value</td>
                        <td>@(address.Verified ? "✅" : "❌")</td>
                        <td>@address.Via</td>
                        <td>@address.Status</td>
                        <td>
                            @if (address.AdditionalProperties.Count == 0)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                @foreach (var property in address.AdditionalProperties)
                                {
                                    <p>@property.Key: @property.Value</p>
                                }
                            }
                        </td>
                        <td>
                            <p>Verified: @address.VerifiedAt</p>
                            <p>Updated: @address.UpdatedAt</p>
                            <p>Created: @address.CreatedAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>

    <div class="box">
        <h1 class="title">Recovery Addresses</h1>
        @if (_identity.RecoveryAddresses.Count == 0)
        {
            <p>This user has no recovery addresses.</p>
        }
        else
        {
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Value</td>
                    <td>Via</td>
                    <td>Additional Properties</td>
                    <td>Timestamps</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var address in _identity.RecoveryAddresses)
                {
                    <tr>
                        <td>@address.Id</td>
                        <td>@address.Value</td>
                        <td>@address.Via</td>
                        <td>
                            @if (address.AdditionalProperties.Count == 0)
                            {
                                <p>-</p>
                            }
                            else
                            {
                                @foreach (var (key, value) in address.AdditionalProperties)
                                {
                                    <p>@key: @value</p>
                                }
                            }
                        </td>
                        <td>
                            <p>Updated: @address.UpdatedAt</p>
                            <p>Created: @address.CreatedAt</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>


    <AdditionalPropertiesBox Properties="@_identity.AdditionalProperties"/>
}