@if (!_isLoading)
{
    <div class="field">
        <script src="@_attributes!.Src" async="@_attributes.Async"
                crossorigin="@_attributes.Crossorigin" referrerpolicy="@_attributes.Referrerpolicy"
                nonce="@_attributes.Nonce" integrity="@_attributes.Integrity"
                id="@_attributes.Id"></script>

        <KratosUiTextMessages list="@node.Messages"/>
    </div>
}